body{
  background-color:black;
}
.grid{
  display:grid;
  grid-template-columns: 10% 10% 60% 20%;

}

.tab{
  display:grid;
  background-color:black;
  grid-template-rows: 55px 55px 55px 55px;
  grid-row-gap: 25px;
  margin-left:-15px;
}

.tA{
  background-color:orange;
  
  border-radius:5%;
  border-color:orange;
}

.tA:hover{
  border-color:red;
}

.tD{
  background-color:orange;
  text-align:center-right;
  border-radius:5%;
  border-color:orange;
  transform:scale(0);
}

@keyframes shrink{
  from{transform:scale(1);}
  to {transform:scale(0);}
}

@keyframes grow{
  from {transform:scale(0);}
  to {transform:scale(1);}
}
@keyframes cgrow{
  0% {display:block;}
  01% {transform:scale(0); opacity:0;}
  100% {transform:scale(1);  opacity:1;}
}
@keyframes cshrink{
  0% {z-index:1;}
  01% {transform:scale(1); display:block; opacity:1;}
  80% {transform:scale(0);}
  100% {display:none; opacity:0; }
  
}
.oBlank{
  opacity:0;
}
.blank{
  display:none; 
  opacity:0;
}
.cClose{
 
  animation-name:cshrink;
  animation-duration:1s;
  animation-fill-mode:forwards;
}
.cOpen{
  animation-name:cgrow;
  animation-duration:1s;
  animation-fill-mode: forwards;

}
.open{
  animation-name:shrink;
  animation-duration:1s;
  animation-fill-mode: forwards;
}

.close{
  animation-name:grow;
  animation-duration:1s;
  animatin-fill-mode: forwards;
}
.overview{
  position:absolute;
  display:grid;
  grid-template-columns: 55% 40% 5%;
  background-color:orange;
  border-radius:5px;
  height:50%;
  width:50%;
}
.overtxt{
  border-radius:25%;
  text-align:center;
  vertical-align:middle;
  line-height:1.5;
  bottom:50%;
  transform: translate(0%, 10%);
}
#pic{
  width:90%;
  height:90%;
  border-radius:50%;
}
.overpic{
  
  
}
.portfolio{
  position:absolute;
  background-color:white;
  width:55%;
  height:55%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
#port{
  width:100%;
  height:15%;
}
.portCon{
  width:25%;
  height:70%;
  background-color:red;
}
h2{
  text-align:center;
}
.contact{
  position:absolute;
  background-color:green;
  width:50%;
  height:50%;
}

/*.moon{
  border-radius:90%;
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
*/